<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--<link rel="stylesheet" href="assets/styles/styles.css">-->
    <link rel="stylesheet" href="vendor/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/Estilos.css">

</head>
<body>
<div id="acceso">
    <div v-show="ventana=='log'">
        <div class="container" >
            <div class="row" >
                <div class="col s6">
                    <div class="row">
                        <div class="valign-wrapper">
                            <div class="col s12">
                                <img src="assets/img/Logo_proyecto.png" id="logo" alt="logo_uni_reserva" class="responsive-img" style="width: 80%">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="col s12">
                            <div class="card Large">
                                <div class="card-content">
                                    <div class="row"><h1 class="">BIENVENIDO</h1></div>
                                    <div class="row">
                                        <blockquote style="border-left: 5px solid #5f50da;">Reservacion al alcance de un click</blockquote>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="user_log" type="text" class="validate" maxlength="8" v-model="username">
                                            <label for="user_log">Codigo:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input type="password" id="user_pass" class="validate" maxlength="6" v-model="pass">
                                            <label for="user_pass">Contraseña:</label>
                                        </div>
                                    </div>
                                    <button id="bLog" class="btn waves-effect waves-red" v-on:click="login">Login</button>
                                    <label for="enlace">Don't you have an account?<a href="#" id="enlace" v-on:click="signin"> Create it now</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="ventana=='busqueda'" id="busca">
        <div class="container" >
            <div class="row">
                <div class="col s6">
                    <div class="col s12">
                        <div class="row">
                            <div class="card Large">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s12">
                                            <blockquote style="border-left: 5px solid #8953ca;"> Proceda a seleccionar el tipo de ambiente deseado </blockquote>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                                <select id="ambiente" class="browser-default" v-on:change="buscarAmbiente()" v-model="tipoAmbiente">
                                                <option value="" disabled selected>Tipo Ambiente</option>
                                                <option value="T0001">Salon</option>
                                                <option value="T0002">Laboratorio</option>
                                                <option value="T0003">Audiovisuales</option>
                                                <option value="T0004">Auditorio</option>
                                            </select>
                                            <label for="ambiente" ></label>
                                        </div>
                                        <div class="input-field col s6">
                                            <select id="cod_ambiente" class="browser-default" v-model="ambienteHorario" v-on:change="buscarHorario()" >
                                                <template v-for ="ambiente in ambienteList">
                                                    <option v-bind:value="ambiente.codAmbiente">{{ambiente.codAmbiente}}</option>
                                                </template>
                                            </select>
                                            <label for="cod_ambiente" ></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <select id="Horario" class="browser-default" v-model="codHorarioPedido">
                                                <template v-for="l in horarioList">
                                                        <option v-bind:value="l.codHorario">{{l.dia}} {{l.horaInicio}}-{{l.horaFinal}}</option>
                                                </template>
                                            </select>
                                            <label for="Horario"></label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="row">
                                            <div class="col s6 input-field">
                                                <input type="date" id="fecha" v-model="fecha">
                                                <label for="fecha">Fecha</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6 input-field">
                                                <select  class="browser-default" v-model="dia">
                                                    <template v-for="d in horarioList">
                                                        <option v-bind:value="d.dia">{{d.dia}} </option>
                                                    </template>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12" >
                                            <div class="center-align" >
                                                <button style="width: 50%;height: 100%" class="btn-large pulse" > Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="col s12">
                        <div class="card small">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        Informacion del pedido
                                        <template v-for ="ambiente in ambienteList">
                                            <h5>{{ambiente.codAmbiente}}</h5>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="ventana=='sign_in'">
        <div class="container" id="controlador">
            <div class="row">
                <div class="s12" >
                    <div class="col s3" >
                        <div class="row">
                            <div class="s12">
                                <div class="row">
                                    <img src="assets/img/Logo_proyecto.png" alt="" class="responsive-img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="s12">
                                <div class="row">
                                    <div class="card small cyan lighten-3">
                                        <div class="card-content">
                                            <blockquote> Proceda a insertar sus datos  </blockquote>
                                            <p>No espere mas para acceder a los grandes beneficios de Classuni</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col s1">
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <div class="s12">
                                <div class="row">
                                    <div class="card Large cyan lighten-5">
                                        <div class="card-content">
                                            <div class="row"><h5>Registrar</h5></div>
                                            <div class="row">

                                                <div class="col s6 input-field">
                                                    <i class="material-icons prefix">account_circle</i>
                                                    <input id="Name" type="text" class="validate" maxlength="30" v-model="nomUsuario">
                                                    <label for="Name">Nombre:</label>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <i class="material-icons prefix">account_circle</i>
                                                    <input id="Last_name" type="text" class="validate" maxlength="30" v-model="apellidoUsuario">
                                                    <label for="Last_name">Apellido:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6 input-field">
                                                    <i class="material-icons prefix">perm_identity</i>
                                                    <input id="DNI" type="text" class="validate" maxlength="30" v-model="dniUsuario">
                                                    <label for="DNI">DNI:</label>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <i class="material-icons prefix">email</i>
                                                    <input id="correo" type="email" class="validate" maxlength="30" v-model="correoUsuario">
                                                    <label for="correo">Correo:</label>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col s6 input-field">
                                                    <i class="material-icons prefix">school</i>
                                                    <input id="codigo_uni" type="text" class="validate" maxlength="10" v-model="codUni">
                                                    <label for="codigo_uni">Codigo UNI:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6 input-field">
                                                    <i class="material-icons prefix">vpn_key</i>
                                                    <input id="pass" type="password" class="validate" maxlength="30" v-model="clave">
                                                    <label for="pass">Contraseña:</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="center-align"><button class="btn-large waves-effect light-blue darken-4" v-on:click="crear" >Crear cuenta</button></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="vendor/materialize/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="assets/js/app.js"></script>
</body>
</html>